<a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
    <img src="~/images/solimg/41.png" width="25" height="25" /> Sepetim<b style="color: black">(@TempData["CartCount"])</b></a>