@{
    ViewData["Title"] = "Addpro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Yeni Ürün Kaydı   <img width="30" height="30" src="https://static.thenounproject.com/png/485101-200.png" />       </h1>


<form method="post" id="urunmodal" onsubmit="return Ajaxpost(this)" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-6">
            <input type="text" placeholder="Ürün Adı" class="form-control form-control-sm" minlength="10" name="Name" required />
            <br />   <input type="text" placeholder="Ürün Fiyat" class="form-control form-control-sm" name="Price" required />
            <br />  <input type="text" placeholder="Stok Adet" class="form-control form-control-sm" name="Stock" required />
            <br />  <input type="file" placeholder="Ürün Resmi" class="form-control form-control-sm" name="Photo" required />
            <br />  <textarea name="Description" placeholder="Ürün Açıklaması" maxlength="250" minlength="11" class="form-control form-control-sm" required></textarea>
        </div>
        <div class="col-lg-6">
            @Html.DropDownList("SubCatID", (List<SelectListItem>)ViewBag.subcat, null, new { @class = "form-control form-control-sm" })
            <br /> @Html.DropDownList("BrandID", (List<SelectListItem>)ViewBag.brand, null, new { @class = "form-control form-control-sm" })
            <br /><input type="number" value="0" placeholder="İndirim Yüzde" class="form-control form-control-sm" min="0" max="99" name="Discount" />
            <br /><input type="number" value="0" placeholder="Sepet İndirim Yüzde" class="form-control form-control-sm" min="0" max="99" name="BasketDiscount" />
            <br />
            <button type="submit" id="addajax" class="btn btn-sm btn-primary">Ürünü Kaydet <i class="fa fa-check"></i></button>
            <button type="button" class="btn btn-sm  btn-secondary" data-dismiss="modal">Vazgeç</button>
        </div>
    </div>
</form>



<script type="text/javascript">

    function Ajaxpost(formdata) {
        var ajaxconfig = {
            type: "post",
            url: "/Product/Addpro/",
            data: new FormData(formdata),
            success: function (result) {
                swal("Bilgi", "Ürün Başarıyla Eklendi.Vitrinde sergilenmesi için yayına açık hale getirmeniz gerekmektedir", "success");
                $("form")[2].reset();
            }
        };
        if ($(formdata).attr('enctype') == "multipart/form-data") {
            ajaxconfig["contentType"] = false;
            ajaxconfig["processData"] = false;
        }
        $.ajax(ajaxconfig);
        return false;
    };

</script>
