@using Entities.Concrete;
@model Brand

@{
    ViewData["Title"] = "Brandedit";
    Layout = "~/Views/Shared/_Moderator.cshtml";
}
 
<form method="post" action="/Moderator/Brandedit/">
    <input hidden value="@Model.BrandID" class="form-control" name="BrandID" />
    <input value="@Model.BrandName" class="form-control" name="BrandName" />
    <input value="@Model.Status.ToString()" class="form-control" name="Status" />
    <button class="btn btn-success" type="submit">Güncelle</button>
</form>

