@using Entities.Concrete;
@model IEnumerable<SubCategory>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Moderator.cshtml";
}



<div class="col-md-12">
    <h4>Alt Kategori İşlemleri  </h4>
    <br />
    <button class="btn btn-sm btn-primary" type="button" data-target="#addmodal" data-toggle="modal" id="btnbrandadd">Yeni Alt Kategori Tanımla</button>
    <table class="table table-hover">
        <tr>
            <th>No</th>
            <th>Alt Kategori Adı</th>
            <th>Üst Kategori</th>
            <th>Durum</th>
            <th>İşlemler</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.SubCatID</th>
                    <td>@item.SubCatName</td>
                    <td>@item.CategoryID</td>
                    @if (item.Status == false)
                    {
                        <td style="color:red">Kapalı&nbsp;<i class="fa fa-lock"></i></td>
                    }
                    else
                    {
                        <td style="color:darkgreen">Aktif&nbsp;<i class="fa fa-check"></i></td>
                    }
                    <td>
                        <a href="/Moderator/SubCatgDelete/@item.SubCatID" class="btn btn-sm btn-success">Durum Değiştir</a>
                        <a href="/Moderator/SubCatedit/@item.SubCatID" class="btn btn-sm btn-primary">Düzenle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




<form action="/Moderator/SubCatgadd/" method="post" data-ajax-failure="hata" data-ajax-success="basari">
    <div id="addmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLiveLabel">Alt Kategori Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body ">
                    <div class="form-inline">
                        <label>Üst Kategori Adı</label>&nbsp;&nbsp;
                        @Html.DropDownList("CategoryID", (List<SelectListItem>)ViewBag.catg, null, new { @class = "form-control " })

                    </div>
                </div>

                <div class="modal-body ">
                    <div class="form-inline">
                        <label>Alt Kategori Adı</label>&nbsp;&nbsp;
                        <input type="text" name="SubCatName" placeholder="Alt Kategori girin" style="width:100%" class=" form-control" />
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn  btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>



