@using Entities.Concrete;

@model IEnumerable<OrderDetail>


@{ Layout = null;
}

<div class="row group" style="margin-left:auto">
    @foreach (var item in Model)
    {
        @if (item.OrderProcessID == 13)
        {
            <a href="#" onclick="return ordercancel();" style="border-color:orangered;color:red" class="card btn-outline-danger"><img src="@item.Product.PhotoUrl" width="60" height="60" />  </a>
        }
        else
        {
            <img src="@item.Product.PhotoUrl" width="60" height="60" />
        }
    }
</div>


<script type="text/javascript">

    var ordercancel = function () {
        swal("Siparişinizdeki bu ürünü iptal ettiniz.");
    };

</script>

